{{>header}}
{{>navbar}}
   <h1>{{ title }}</h1>
   <p>{{ author }}</p> 
   <form action="" class="form">
      <input type="text" placeholder="location" name="location" style="color:black">
      <button type="submit" style="color:black">submit</button>
   </form>
   <span id="message">
   </span>
   <div>
      location: <span id="location">----------</span>
      <br>
      temperature: <span id="temperature">----------</span>
   </div>
   <script src="/assets/js/script.js"></script>
{{>footer}}